/* Photrotroxo - estilo_buscaramigos.css */

body {
	background-color : #F2F2F2; /* beige */
	width : 800px;
	margin-left : auto;
	margin-right : auto;
	font-family: Helvetica;
}

#div_header{
	text-align: center;
	margin-bottom: 3em;
}

#img_header{
	width: 600px;
}

#div_content {
	margin-left: 2em;
}

#input_search {
	width: 20em;
	margin-left: 2em;
}