/* Photrotroxo - estilo_index.css */

body {
	background-color : #F2F2F2; /* beige */
	width : 800px;
	margin-left : auto;
	margin-right : auto;
	font-family: Helvetica;
}

input,select,textarea {
	border: 1px solid black;
	font-weight : bold;
}

#div_header .img {
	width : 600px;
}

#div_submit, #div_acepto {
	text-align : center;
	margin-bottom : 0.5em;
}

legend {
  font-weight: bolder;
}

#label_pass, #label_usuario {
	margin-top : auto;
	margin-bottom : auto;
  	display: block;
  	float: left;
  	text-align: right;
  	width: 6em;
  	padding-right: 0.5em;
}

#div_pass, #div_usuario {
	 margin-bottom: 0.5em;
}