@import url('mainstyle.css');
.foto_tabla{
	max-height: 200px;
	max-width: 150px;
	padding: 1px 5px 1px 5px;
}
.celda_tabla_fotos{
	width : 180px;
	height : 200px;
	text-align: center;
}
#tabla_ultimasfotos{
	/*border: solid;*/
	margin-top : 20px;
}
