@import url('mainstyle.css');
#div_title {
	display: block;
	height: 40px;
}
#div_photo {
	display: block;
	margin-top: 1em;
}
#foto {
	display: block;
	margin: auto;
	max-height: 500px;
	max-width: 600px;
}
#titulo_foto {
	float: left;
	padding-left: 100px;
	font-size: 1.3em;
}
#usuarioQueSubeLaFoto {
	float: right;
	padding-right: 100px;
}
#escribircomentario{
	margin-top: 20px;
}
#comentarios{
	margin-top: 20px;
}
#boton_comentar {
	font-size: 1.1em;
	color: white;
	background: #0055FF;
}