@import url('mainstyle.css');
input {
	width: 15em;
	height: 1.5em;
	margin-left: 1.4em;
}
legend {
	font-weight: bolder;
}
#label_pass, #label_usuario {
	display: block;
	float: left;
	text-align: right;
	width: 10em;
	padding-right: 0.5em;
	line-height: 1.5em;
}
#div_pass, #div_usuario {
	margin-bottom: 0.4em;
}
#div_botones {
	padding-left: 5em;
	padding-top: 1em;
}
#button_submit {
	margin-right: 1.5em;
	font-size: 1.1em;
	color: white;
	background: #0055FF;
}
#div_passolvidada {
	text-align: center;
	margin-top: 3em;
}
#div_copyright {
	margin-top: 1em;
	text-align: center;
}