@import url('mainstyle.css');
#div_title {
	display: block;
	height: 40px;
}
#div_photo {
	display: block;
	margin-top: 1em;
}
#foto {
	display: block;
	margin: auto;
	max-height: 500px;
	max-width: 600px;
}
#titulo_foto {
	float: left;
	padding-left: 100px;
	font-size: 1.3em;
}
#usuarioQueSubeLaFoto {
	float: right;
	padding-right: 100px;
}
#escribircomentario {
	margin-top: 20px;
	margin-left: 100px;
	width: 600px;
}
#input_escribecomentario {
	width: 600px;
}
#comentarios {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}
#div_boton_comentar {
	display: block;
	float: right;
}
#boton_comentar {
	font-size: 1.1em;
	color: white;
	background: #0055FF;
}
#opcionesfoto {
	margin-top: 20px;
	margin-left: 100px;
}