@import url('mainstyle.css');
#div_title {
	display: block;
	height: 40px;
}
#div_photo {
	display: block;
	margin-top: 1em;
}
#foto {
	display: block;
	margin: auto;
	max-height: 500px;
	max-width: 600px;
}
#titulo_foto {
	float: left;
	padding-left: 100px;
	font-size: 1.3em;
}
#usuarioQueSubeLaFoto {
	float: right;
	padding-right: 100px;
}
