/* Photrotroxo - estilo_formulario.css */

body {
	background-color : #F2F2F2; /* beige */
	width : 800px;
	margin-left : auto;
	margin-right : auto;
	font-family: Helvetica;
}

input,select,textarea{
	border: 1px solid black;
	font-weight : bold;
}

.hint{
	color: #666;
	font-size: 0.8em;
	padding-left: 10px;
}

#div_header{
	margin-bottom: -15px;
	text-align: center;
}

#img_header{
	width : 600px;
}

#div_submit,
#div_acepto{
	text-align : center;
	margin-top: 8px;
}

#label_dni,
#label_nombre,
#label_apellidos,
#label_email,
#label_calle,
#label_poblacion,
#label_archivo,
#label_descripcion,
#label_fechanacimiento,
#label_user,
#label_password,
#label_password2 {
  	display: block;
  	float: left;
  	text-align: right;
  	width: 10em;
  	padding-right: 0.5em;
}

/* Datos personales */

#div_sexo {
  float: right;
  margin-right : 4%;
}

#div_dni, #div_nombre, #div_apellidos, #div_email, #div_calle, #div_poblacion, #div_provincia,  #div_fechanacimiento,
#div_user, #div_password, #div_password2{
	 margin-bottom: 0.2em;
}

#dni {
  width: 6em;
}

#letra {
  width: 1em;
}

#nombre, #apellidos, #email {
  width: 20em;
}

/* Dirección */

#div_poblacion {
  float: left;
  margin-right: 2em;
}

#calle {
  width: 40em;
}

#poblacion {
  width: 20em;
}

/* Registro */
#user{
	width: 14em;
}

#password{
	width: 14em;
}
#password2{
	width: 14em;
}

label.default {
	color : black;
	font-weight : normal;
}

/* Etiquetas de campos erroneos */
label.error {
	color : red;
	font-weight : bold;
}

/* Mensajes de Error */
div.error {
	color : #A52A2A; /* brown */	
	border : 2px solid red;
	padding : 10px;
	margin: 10px;
}