/* Photrotroxo - estilo_buscaramigos.css */

body {
	background-color : #F2F2F2; /* beige */
	width : 800px;
	margin-left : auto;
	margin-right : auto;
	font-family: Helvetica;
}

#label_escribir {
	display: block;
}

#div_enviar {
	margin: 750px;
	height: 40px;
	margin-top: 0px;
}

textarea {
	resize: none;
}

#img_header{
	width : 600px;
}