body {
	background-color: #F2F2F2; /* beige */
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, Verdana;
}
#div_header {
	text-align: center;
	margin-top: -20px;
	margin-bottom: 3em;
}
#img_header {
	width: 600px;
}
#table_mainmenu {
	margin-top: -30px;
	margin-bottom: 20px;
	border: 2px;
	border-style: inset;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.celdamenu {
	padding: 5px 20px 5px 20px;
	background-color: #0033EE;
}
a:active, a:visited, a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: red;
}
.celdamenu a:active, .celdamenu a:visited, .celdamenu a:link {
	font-weight: bold;
	color: white;
}
.celdamenu a:hover {
	color: red;
	font-weight: bolder;
}
#sesion {
	font-size: 0.7em;
	color: #111111;
	text-align: right;
}
<<<<<<< .mine
#sugerencia{
	text-align: right;
}

#label_usuario, #label_confirmacioncontrasena, #label_contrasena{
	font-weight: bolder;
}


=======
>>>>>>> .r32
